body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Arial, sans-serif;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  background: #888;
  bacground-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.weather-display {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 50px 50px 50px 50px;
  position: center;
  text-align: center;
  margin: 5% auto auto auto;
  width: 400px;
  opacity: 0.7;
  }
.detail-display {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 50px 50px 50px 50px;
  position: center;
  margin: 5% auto auto auto;
  width: 400px;
  opacity: 0.7;
  }
img {
  width:75px;;
  height:75px;;
  }
#city {
  position: center;
}
#temp {
  bottom: 10px;
  position: relative;
  right: 2px;
}
h2, p {
  color: black;
}
p {
  font-family: Maven+Pro;
  font-size: 20px;
  font-weight: bold;
  }
.btn {
  position: center;
}
